* {
    margin: 0px;
    padding : 0px;
}

.home-page {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color:#a9dce0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgb(69 69 161);
  }
  
  .logo {
    font-weight: bold;
    font-size: 2.3rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }

  nav li a {
    text-decoration: none;
    color: #a9dce0;
    font-size: 1.2rem;
  }

  nav li a:hover {
    text-decoration: underline;
    color: #f73b0d;
    font-size: 1.3rem;
  }

  .sign-up {
    border: 2px solid rgb(54 54 112);
    padding: 15px;
    background-color: rgb(11 124 8);
    border-radius: 15px;
  }

  .sign-up:hover {
    background-color: rgb(35, 154, 31);
  }

  .logout {
    border: 2px solid rgb(90 15 15);
    padding: 15px;
    background-color: rgb(165 8 8);
    border-radius: 15px;
}